@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');

* {
  font-family: 'Baloo Bhaina', cursive;
  color: black;
}

header {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: gray;
}

header h2 a {
    text-decoration: none;
    margin-left: 3%;
    font-size: 2.5em;
}

.emoji:hover::before {
  content: "🐱";
}

header a {
  text-decoration: none;
}

header nav {
  position: absolute;
  right: 10%;
  top: 20%;
}

header #left, header #right {
  display: inline-block;
}

#top {
  margin-top: 165px;
  /*I like a little white space*/
  background-image: url("../assets/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  width: 100%;
  height: 400px;
  /*I like this partial photo showing*/
  padding-top: 25px;
  font-size: 3.5em;
}

#pop-posts {
  text-align: center;
  font-size: 1.2em;
  padding-top: 20px;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 20px;
}

#pop-posts h2 {
  font-size: 2.5em;
}

article h3 {
  border-bottom: 2px solid black;
  height: 60px;
}

article {
  border: 2px solid black;
  border-radius: 20px;
  width: 30%;
  height: 350px;
  margin: 15px;
  float: left;
}

#pop-posts a {
  border: 2px solid black;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: .75em;
  text-decoration: none;
}

#join {
  text-align: center;
  float: left;
  max-width: 40%;
  margin: 30px;
  border-radius: 20px;
  padding: 20px;
}

#join h2 {
  font-size: 3em;
}

#chair-cat {
  float: right;
  max-width: 40%;
  margin-right: 90px;
  margin-top: 45px;
  margin-bottom: 50px;
  border-radius: 20px;
}

#everybody {
  height: 200px;
  background-image: url("../assets/everybody.jpg");
  display: inline-block;
  background-size: cover;
  width: 100%;
  height: 600px;
}

#everybody h2 {
  text-align: center;
  font-size: 6.0em;
  padding-top: 100px;
  padding-right: 100px;
  padding-left: 100px;
}

footer ul {
  list-style-type: none;
  margin-top: 45%;
  margin-left: 60%;
}

.end a {
  text-decoration: none;
}

.footer {
  display: inline-block;
  border-radius: 40px;
  max-width: 40%;
  margin-left: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
  float: left;
  text-align: center;
}

h4, p#disclaimer {
  display: inline;
}

div .footer {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

footer nav {
  display: inline-block;
}
